:root{
  --primary-color: rgb(243, 39, 39);
  --grey-color: rgb(231, 236, 241);
}


*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--grey-color);
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track{
  background: var(--grey-color);
}

::-webkit-scrollbar-thumb{
  background: var(--primary-color);
  border-radius: 7px;
}

::-webkit-scrollbar-button{
  display: none;
}